.img {
  width: 130px;
}
body {
  text-align: center;
}
.navAlign {
  text-align: center;
}
.link {
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-size: 30px;
  margin-left: 40px;
}
