body {
  color: white;
}
.event {
  width: 80%;
}
.title {
  margin-bottom: 15px;
  font-weight: 700;
}
.marginTop {
  margin-top: 4%;
}
.home {
  margin-top: 2%;
  text-align: center;
}
.paragraph {
  text-align: center;
}
.about {
  text-align: center;
}
